<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<footer class="dark-bg-gray-800 pt-10 sm:mt-10 pt-10 text-gray-400">
  <div class="max-w-6xl m-auto text-gray-800 flex flex justify-left">
    <!-- Col-1 -->
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12 text-gray-400">
      <!--Logo-->
      <div class="text-xs uppercase text-gray-400 font-medium mb-6">
        Find my Loco
        <img
          class="w-24 h-auto"
          src="assets/Home/brands/brand1.png"
          alt="Find my Loco"
        />
      </div>
      <a class="my-3 block" href="/" target="_blank"
        >Home <span class="text-teal-600 text-xs p-1"></span
      ></a>
      <a class="my-3 block" href="/about" target="_blank"
        >About Us <span class="text-teal-600 text-xs p-1"></span
      ></a>
      <a class="my-3 block" href="/contact" target="_blank"
        >Contact Us <span class="text-teal-600 text-xs p-1"></span
      ></a>
    </div>

    <!-- Col-2 -->
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12 text-gray-400">
      <!--Links-->
      <div class="text-xs uppercase text-gray-400 font-medium mb-6">Links</div>
      <a class="my-3 block" href="/checkface" target="_blank"
        >Search by Face <span class="text-teal-600 text-xs p-1"></span
      ></a>
      <a class="my-3 block" href="/displayrecords" target="_blank"
        >Display All Reports <span class="text-teal-600 text-xs p-1"></span
      ></a>
      <a class="my-3 block" href="/services" target="_blank"
        >Our Services <span class="text-teal-600 text-xs p-1"></span
      ></a>
      <a class="my-3 block" href="/products" target="_blank"
        >Our Products <span class="text-teal-600 text-xs p-1"></span
      ></a>
      <a class="my-3 block" href="/blog" target="_blank"
        >Our Blog <span class="text-teal-600 text-xs p-1"></span
      ></a>
    </div>

    <!-- Col-3 -->
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12 text-gray-400">
      <!--Help-->
      <div class="text-xs uppercase text-gray-400 font-medium mb-6">Help</div>
      <a class="my-3 block" href="/faq" target="_blank"
        >FAQ <span class="text-teal-600 text-xs p-1"></span
      ></a>
      <a class="my-3 block" href="/support" target="_blank"
        >Support <span class="text-teal-600 text-xs p-1"></span
      ></a>
      <a class="my-3 block" href="/privacy-policy" target="_blank"
        >Privacy Policy <span class="text-teal-600 text-xs p-1"></span
      ></a>
    </div>

    <!-- Col-4 -->
    <div
      class="p-5 w-full sm:w-full md:w-full lg:w-full xl:w-full text-gray-400"
    ></div>
  </div>

  <div class="pt-md pb-md bg-gray-md mt-md text-gray-400">
    <div
      class="flex pb-md max-w-xl m-auto pt-sm items-center justify-center space-x-4"
    >
      <!--Social Icons-->
      <a href="#" target="_blank" class="text-xl"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="#" target="_blank" class="text-xl"
        ><i class="fab fa-twitter"></i
      ></a>
      <a href="#" target="_blank" class="text-xl"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>

  <!--Bottom Bar-->
  <div class="pt-sm pb-sm bg-gray-sm mt-sm text-center">
    <div class="flex justify-center items-center">
      <img
        class="w-24 h-auto"
        src="assets/Home/brands/brand1.png"
        alt="Find my Loco"
      />
    </div>
    <div class="text-sm mt-2">
      &copy; 2024 Find My LOCO All Rights Reserved.
    </div>
  </div>
</footer>
