<footer class="dark-bg-gray-800 pt-10 sm:mt-10 pt-10 text-gray-400">
  <div class="max-w-6xl m-auto text-gray-800 flex flex justify-left">
    <!-- Col-1 -->
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12 text-gray-400">
      <!--Logo-->
      <div class="text-xs uppercase text-gray-400 font-medium mb-6">
        Find my Loco
        <img class="w-24 h-auto" src="assets/Home/brands/brand1.png" alt="" />
      </div>
      <a class="my-3 block" href="/#" target="_blank"
        >Home <span class="text-teal-600 text-xs p-1"></span></a
      ><a class="my-3 block" href="/#" target="_blank"
        >About Us <span class="text-teal-600 text-xs p-1"></span></a
      ><a class="my-3 block" href="/#" target="_blank"
        >Contact Us <span class="text-teal-600 text-xs p-1"></span
      ></a>
    </div>

    <!-- Col-2 -->
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12 text-gray-400">
      <!--Links-->
      <div class="text-xs uppercase text-gray-400 font-medium mb-6">Links</div>
      <a class="my-3 block" href="/#" target="_blank"
        >Our Services <span class="text-teal-600 text-xs p-1"></span></a
      ><a class="my-3 block" href="/#" target="_blank"
        >Our Products <span class="text-teal-600 text-xs p-1"></span></a
      ><a class="my-3 block" href="/#" target="_blank"
        >Our Blog <span class="text-teal-600 text-xs p-1"></span
      ></a>
    </div>

    <!-- Col-3 -->
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12 text-gray-400">
      <!--Help-->
      <div class="text-xs uppercase text-gray-400 font-medium mb-6">Help</div>
      <a class="my-3 block" href="/#" target="_blank"
        >FAQ <span class="text-teal-600 text-xs p-1"></span></a
      ><a class="my-3 block" href="/#" target="_blank"
        >Support <span class="text-teal-600 text-xs p-1"></span></a
      ><a class="my-3 block" href="/#" target="_blank"
        >Privacy Policy <span class="text-teal-600 text-xs p-1"></span
      ></a>
    </div>

    <!-- Col-4 -->
    <div
      class="p-5 w-full sm:w-full md:w-full lg:w-full xl:w-full text-gray-400"
    ></div>
  </div>

  <div class="pt-md pb-md bg-gray-md mt-md text-gray-400">
    <div class="flex pb-md max-w-xl m-auto pt-sm items-center justify-center">
      <!--Social Icons-->
      <a href="#" target="_blank"><i class=""></i></a>
      <a href="#" target="_blank"><i class=""></i></a>
      <a href="#" target="_blank"><i class=""></i></a>
    </div>
  </div>

  <!--Bottom Bar-->
  <div class="pt-sm pb-sm bg-gray-sm mt-sm text-center">
    <div class="flex justify-center items-center">
      <img
        class="w-24 h-auto"
        src="assets/Home/brands/brand1.png"
        alt="Your Brand"
      />
    </div>
    <div class="text-sm mt-2">
      &copy; 2023 Your Company Name. All Rights Reserved.
    </div>
  </div>
</footer>
